In [2]:
import pandas as pd

In [5]:
# Load the data
before_data = pd.read_csv('C:/Users/sangm/Documents/카카오톡 받은 파일/2024-03-28/13-01-42-351_50cycle_1/generatedData/data__1/anormal_drift/data__1_drift0.csv')

In [6]:
before_data.head()

       value
0.293    0.0
0.292    0.0
0.292    0.0
0.295    0.0
0.293    0.0

In [11]:
after_file = before_data.drop(before_data.columns[[2]], axis = 1)
after_file['timestamp'] = range(469024, 469024 + len(after_file))

IndexError: index 2 is out of bounds for axis 0 with size 2

In [35]:
after_file.head()

   timestamp  value
0     469024  0.293
1     469025  0.292
2     469026  0.292
3     469027  0.295
4     469028  0.293

In [36]:
df = pd.DataFrame(after_file)

In [38]:
df.to_csv('after_drop_1.csv', index=False, encoding='cp949')